<div class="container p-2">
    <div>
        <img src="https://image.tmdb.org/t/p/w200/{{ movie.poster_path }}" alt="{{ movie.title }} Poster" alt="">
    </div>
    <div>
        <h5>Runtime:</h5>
        <p>{{movie.runtime}} min</p>
    </div>
    <div>
        <h5>Title: </h5>
        <p>{{movie.title}}</p>
    </div>
    <div>
        <h5>Release Date: </h5>
        <p>{{movie.release_date}}</p>
    </div>
    <div>
        <h5>Plot: </h5>
        <p>{{movie.overview}}</p>
    </div>
    <div class="d-flex flex-row flex-wrap gap-4">
        <h5>Cast: </h5>
        <p *ngFor="let actor of movieCast.slice(0,7)">{{actor.name}}</p>
    </div>
    <div>
        <h5>Rating:</h5>
        <p>{{movie.vote_average?.toFixed(1)}}</p>
    </div>
    <div>
        <h5>Budget:</h5>
        <p>$ {{movie.budget | number}}</p>
    </div>
    <div>
        <h5>Revenue:</h5>
        <p>$ {{movie.revenue | number}}</p>
    </div>
    <div>
        <h5>Genre:</h5>
        <p *ngFor="let genre of movie.genres">{{genre.name}}</p>
    </div>
    <div>
        <h5>Trailer:</h5>
        <iframe width="560" height="315" [src]="trailerKey" frameborder="0" allowfullscreen></iframe>
</div>
</div>
